openapi: 3.0.3
info:
  title: ChEMBL Data REST Activity Document API
  description: ChEMBL is a manually curated database of bioactive molecules with drug-like properties, maintained by the EMBL-EBI. This REST API provides programmatic access to bioactive molecules, drug targets, bioactivity measurements, approved drugs, assay data, and clinical trial compound information. ChEMBL_37 contains over 2.9 million distinct compounds, 24.5 million activities, and 18,552 targets.
  version: ChEMBL_37
  contact:
    name: ChEMBL Team
    email: chembl-help@ebi.ac.uk
    url: https://www.ebi.ac.uk/chembl/
  license:
    name: Creative Commons Attribution-ShareAlike 3.0 Unported
    url: https://creativecommons.org/licenses/by-sa/3.0/
  termsOfService: https://www.ebi.ac.uk/about/terms-of-use/
  x-logo:
    url: https://www.ebi.ac.uk/chembl/static/chembl/img/chembl_logo.png
servers:
- url: https://www.ebi.ac.uk/chembl/api/data
  description: ChEMBL Production API Server
tags:
- name: Document
  description: Source documents and datasets from which assay data is derived.
paths:
  /document:
    get:
      tags:
      - Document
      summary: List documents
      description: Retrieve source documents and datasets from which assay data is derived.
      operationId: listDocuments
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: journal
        in: query
        description: Filter by journal abbreviation
        schema:
          type: string
      - name: year
        in: query
        description: Filter by publication year
        schema:
          type: integer
      responses:
        '200':
          description: Paginated list of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    format:
      name: format
      in: query
      description: Response format
      schema:
        type: string
        enum:
        - json
        - xml
        - yaml
        - jsonp
        default: json
    limit:
      name: limit
      in: query
      description: Number of records to return per page (default 20, max 1000)
      schema:
        type: integer
        default: 20
        maximum: 1000
        minimum: 1
  schemas:
    Meta:
      type: object
      description: Pagination metadata for list responses
      properties:
        limit:
          type: integer
          description: Number of records returned per page
        next:
          type: string
          nullable: true
          description: URL for the next page of results
        offset:
          type: integer
          description: Number of records skipped
        previous:
          type: string
          nullable: true
          description: URL for the previous page of results
        total_count:
          type: integer
          description: Total number of records matching the query
    Document:
      type: object
      description: A source document (journal article, dataset, patent) for assay data
      properties:
        doc_id:
          type: integer
        document_chembl_id:
          type: string
          description: Unique ChEMBL ID for the document
        abstract:
          type: string
          nullable: true
        authors:
          type: string
          nullable: true
        doi:
          type: string
          nullable: true
          description: Digital Object Identifier
        first_page:
          type: string
          nullable: true
        issue:
          type: string
          nullable: true
        journal:
          type: string
          nullable: true
        journal_full_title:
          type: string
          nullable: true
        last_page:
          type: string
          nullable: true
        patent_id:
          type: string
          nullable: true
        pubmed_id:
          type: integer
          nullable: true
          description: PubMed ID if from a journal article
        src_id:
          type: integer
        title:
          type: string
          nullable: true
        volume:
          type: string
          nullable: true
        year:
          type: integer
          nullable: true
externalDocs:
  description: ChEMBL Web Services Documentation
  url: https://chembl.gitbook.io/chembl-interface-documentation/web-services/chembl-data-web-services
