openapi: 3.0.3
info:
  title: ChEMBL Data REST Activity Drug Indication API
  description: ChEMBL is a manually curated database of bioactive molecules with drug-like properties, maintained by the EMBL-EBI. This REST API provides programmatic access to bioactive molecules, drug targets, bioactivity measurements, approved drugs, assay data, and clinical trial compound information. ChEMBL_37 contains over 2.9 million distinct compounds, 24.5 million activities, and 18,552 targets.
  version: ChEMBL_37
  contact:
    name: ChEMBL Team
    email: chembl-help@ebi.ac.uk
    url: https://www.ebi.ac.uk/chembl/
  license:
    name: Creative Commons Attribution-ShareAlike 3.0 Unported
    url: https://creativecommons.org/licenses/by-sa/3.0/
  termsOfService: https://www.ebi.ac.uk/about/terms-of-use/
  x-logo:
    url: https://www.ebi.ac.uk/chembl/static/chembl/img/chembl_logo.png
servers:
- url: https://www.ebi.ac.uk/chembl/api/data
  description: ChEMBL Production API Server
tags:
- name: Drug Indication
  description: Drug-disease associations with clinical trial and regulatory references.
paths:
  /drug_indication:
    get:
      tags:
      - Drug Indication
      summary: List drug indications
      description: Retrieve drug-disease associations with clinical trial phase information and regulatory references.
      operationId: listDrugIndications
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: molecule_chembl_id
        in: query
        description: Filter by molecule ChEMBL ID
        schema:
          type: string
          example: CHEMBL25
      - name: max_phase_for_ind
        in: query
        description: Filter by maximum clinical phase for the indication
        schema:
          type: integer
      responses:
        '200':
          description: Paginated list of drug indications
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  drug_indications:
                    type: array
                    items:
                      $ref: '#/components/schemas/DrugIndication'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    format:
      name: format
      in: query
      description: Response format
      schema:
        type: string
        enum:
        - json
        - xml
        - yaml
        - jsonp
        default: json
    limit:
      name: limit
      in: query
      description: Number of records to return per page (default 20, max 1000)
      schema:
        type: integer
        default: 20
        maximum: 1000
        minimum: 1
  schemas:
    Meta:
      type: object
      description: Pagination metadata for list responses
      properties:
        limit:
          type: integer
          description: Number of records returned per page
        next:
          type: string
          nullable: true
          description: URL for the next page of results
        offset:
          type: integer
          description: Number of records skipped
        previous:
          type: string
          nullable: true
          description: URL for the previous page of results
        total_count:
          type: integer
          description: Total number of records matching the query
    DrugIndication:
      type: object
      description: Association between a drug and a disease indication
      properties:
        drugind_id:
          type: integer
          description: Unique ID for the drug indication record
        efo_id:
          type: string
          nullable: true
          description: EFO (Experimental Factor Ontology) term ID
        efo_term:
          type: string
          nullable: true
          description: EFO ontology term for the disease/indication
        indication_refs:
          type: array
          items:
            type: object
            properties:
              ref_id:
                type: string
              ref_type:
                type: string
              ref_url:
                type: string
        max_phase_for_ind:
          type: number
          nullable: true
          description: Maximum clinical phase reached for this specific indication
        mesh_heading:
          type: string
          nullable: true
          description: MeSH heading for the disease indication
        mesh_id:
          type: string
          nullable: true
          description: MeSH term ID
        molecule_chembl_id:
          type: string
          description: ChEMBL ID of the drug
externalDocs:
  description: ChEMBL Web Services Documentation
  url: https://chembl.gitbook.io/chembl-interface-documentation/web-services/chembl-data-web-services
