openapi: 3.0.3
info:
  title: ChEMBL Data REST Activity Cell Line API
  description: ChEMBL is a manually curated database of bioactive molecules with drug-like properties, maintained by the EMBL-EBI. This REST API provides programmatic access to bioactive molecules, drug targets, bioactivity measurements, approved drugs, assay data, and clinical trial compound information. ChEMBL_37 contains over 2.9 million distinct compounds, 24.5 million activities, and 18,552 targets.
  version: ChEMBL_37
  contact:
    name: ChEMBL Team
    email: chembl-help@ebi.ac.uk
    url: https://www.ebi.ac.uk/chembl/
  license:
    name: Creative Commons Attribution-ShareAlike 3.0 Unported
    url: https://creativecommons.org/licenses/by-sa/3.0/
  termsOfService: https://www.ebi.ac.uk/about/terms-of-use/
  x-logo:
    url: https://www.ebi.ac.uk/chembl/static/chembl/img/chembl_logo.png
servers:
- url: https://www.ebi.ac.uk/chembl/api/data
  description: ChEMBL Production API Server
tags:
- name: Cell Line
  description: Cell line information used in assays.
paths:
  /cell_line:
    get:
      tags:
      - Cell Line
      summary: List cell lines
      description: Retrieve cell line information used in assays.
      operationId: listCellLines
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: cell_name
        in: query
        description: Filter by cell line name
        schema:
          type: string
      responses:
        '200':
          description: Paginated list of cell lines
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  cell_lines:
                    type: array
                    items:
                      $ref: '#/components/schemas/CellLine'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    format:
      name: format
      in: query
      description: Response format
      schema:
        type: string
        enum:
        - json
        - xml
        - yaml
        - jsonp
        default: json
    limit:
      name: limit
      in: query
      description: Number of records to return per page (default 20, max 1000)
      schema:
        type: integer
        default: 20
        maximum: 1000
        minimum: 1
  schemas:
    Meta:
      type: object
      description: Pagination metadata for list responses
      properties:
        limit:
          type: integer
          description: Number of records returned per page
        next:
          type: string
          nullable: true
          description: URL for the next page of results
        offset:
          type: integer
          description: Number of records skipped
        previous:
          type: string
          nullable: true
          description: URL for the previous page of results
        total_count:
          type: integer
          description: Total number of records matching the query
    CellLine:
      type: object
      description: A cell line used in assays
      properties:
        cell_chembl_id:
          type: string
          description: ChEMBL ID of the cell line
        cell_description:
          type: string
          nullable: true
        cell_id:
          type: integer
        cell_name:
          type: string
          description: Name of the cell line
        cell_source_organism:
          type: string
          nullable: true
        cell_source_tax_id:
          type: string
          nullable: true
        cell_source_tissue:
          type: string
          nullable: true
        cellosaurus_id:
          type: string
          nullable: true
          description: Cellosaurus cell line identifier
        clo_id:
          type: string
          nullable: true
          description: Cell Line Ontology identifier
        efo_id:
          type: string
          nullable: true
externalDocs:
  description: ChEMBL Web Services Documentation
  url: https://chembl.gitbook.io/chembl-interface-documentation/web-services/chembl-data-web-services
